<div class="section-1 p-20">
	
	<div id="followApp">
		<div class="table-box block-margin clearfix">
			<table class="table">
				<thead>
					<tr>
						<th class="w-p-10">图片</th>
						<th class="w-p-">内容</th>
						<th class="w-p-10">操作</th>
					</tr>
				</thead>
				<tfoot> </tfoot>
				<tbody>
					<tr>
						<td>图片</td>
						<td colspan="2">
							<div id="followImg"></div>
						</td>
					</tr>
					<tr>
						<td>内容</td>
						<td colspan="2">
							<div id="followContent"></div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<span class="btn-1" id="followBtn">保存</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%include ../layout/_script%>
<script src="/js/admin/js/about-us.js"></script>