<div class="section-1 p-20">
	
	<div id="contactApp">
		<div class="table-box block-margin clearfix">
			<table class="table">
				<thead>
					<tr>
						<th class="w-p-10">图片</th>
						<th class="w-p-">内容</th>
						<th class="w-p-10">操作</th>
					</tr>
				</thead>
				<tfoot> </tfoot>
				<tbody>
					<tr>
						<td>400电话</td>
						<td>
							<input type="text" class="form-input" name="tel400" id="tel400">
						</td>
					</tr>
					<!-- <tr>
						<td>热线</td>
						<td>
							<input type="text" class="form-input" name="hotTel" id="hotTel">
						</td>
					</tr> -->
					<tr>
						<td>手机</td>
						<td>
							<input type="text" class="form-input" name="tel" id="tel">
						</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>
							<input type="text" class="form-input" name="email" id="email">
						</td>
					</tr>
					<tr>
						<td>QQ</td>
						<td>
							<input type="text" class="form-input" name="qq" id="qq">
						</td>
					</tr>
					<tr>
						<td>地址</td>
						<td>
							<input type="text" class="form-input" name="address" id="address">
						</td>
					</tr>
					<tr>
						<td>图片</td>
						<td colspan="2">
							<div id="contactImg"></div>
						</td>
					</tr>
					<tr>
						<td>内容</td>
						<td colspan="2">
							<div id="contactContent"></div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<span class="btn-1" id="contactBtn">保存</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<%include ../layout/_script%>
<script src="/js/admin/js/contact.js"></script>