<div class="row">
	<div class="fl w-p-49">
		<div class="table-box">
			<table class="table">
				<thead>
					<tr>
						<th class="w-p-30">用户信息</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody id="userInfo">
				</tbody>
			</table>
		</div>
		<div class="table-box m-t-20">
			<table class="table">
				<thead>
					<tr>
						<th class="w-p-30">其它信息</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody id="otherInfo">
				</tbody>
			</table>
		</div>
		
	</div>
	<div class="fr w-p-49">
		<div class="table-box ">
			<table class="table">
				<thead>
					<tr>
						<th class="w-p-30">系统信息</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody id="systemInfo">
				</tbody>
			</table>
		</div>
		<div class="table-box m-t-20">
			<table class="table">
				<thead>
					<tr>
						<th class="w-p-30">其它</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody id="systemInfo">
					<tr>
						<td><a href="/" target="_blank">前台</a></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div><div class="table-box m-t-20">
			<table class="table">
				<thead>
					<tr>
						<th class="">LOGS</th>
					</tr>
				</thead>
				<tbody id="logoInfo">
				</tbody>
			</table>
		</div>
		
	</div>
</div>
<%include ../layout/_script%>
<script src="/js/admin/js/home.js"></script>