<div id="tagApp">
	<div class="table-box block-margin clearfix">
		<table class="table">
			<thead>
				<tr>
					<th class="w-p-40">名称</th>
					<th class="w-p-40">链接</th>
					<th class="w-p-20">操作</th>
				</tr>
			</thead>
			<tfoot> </tfoot>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<%include ../layout/_script%>
<script src="/js/admin/js/tag.js"></script>