<div class="content-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-8 main-content">
				<div class="item-box">
					<%include _item.ejs%>
				</div>
			</div>
			<div class="col-md-4 sidebar">
				<%include _sidebar.ejs%>
			</div>
		</div>
	</div>
</div>
<%include ../layout/_script%>