<div class="content-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-8 main-content">
				<img src="<%=locals.data.imageUrl%>" alt="">
				<%=locals.data.content%>
			</div>
			<div class="col-md-4 sidebar">
				<%include ../item/_sidebar%>
			</div>
		</div>
	</div>
</div>