<!-- Footer Start -->
<footer class="main-footer block-margin-3">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="widget">
					<h4 class="title">友链</h4>
					<div class="content tag-cloud friend-links">
						<a href="http://www.bootcss.com" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap中文网</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget">
					<h4 class="title">标签云</h4>
					<div class="content tag-cloud">
						<a href="/tag/about-ghost/">Ghost</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget">
					<h4 class="title">合作伙伴</h4>
					<div class="content tag-cloud friend-links">
						<a href="https://www.upyun.com/" title="又拍云" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'upyun'])" target="_blank">又拍云</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span>Copyright © <a href="http://www.ghostchina.com/">Ghost中文网</a></span> |
				<span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
				<span>京公网安备11010802014853</span>
			</div>
		</div>
	</div>
</div>
<div class="back-to-top"></div>
<!-- Footer End -->