<header class="main-header" style="">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>
				<a class="branding" href="/" title="<%=site.name%>">
					<img class="img-responsive" src="<%=site.logo%>" alt="<%=site.name%>"/>
				</a>
				</h1>
			</div>
			<div class="col-md-8">
				<%include _nav.ejs%>
			</div>
		</div>
	</div>
</header>