<!DOCTYPE html>
<%locals.site = locals.site||{}%>
<html lang="en">
	<head>
		<%include _meta.ejs%>
		<link rel="stylesheet" href="/style/gzh.css">
	</head>
	<body>
		<%-body%>
		<script src="//static.huizecdn.com/js/libs/zepto/1.1.6/zepto.min.js"></script>
		<%include _statistical%>
	</body>
</html>